= nested_form_for(@menu) do |f|
  - if @menu.errors.any?
    #error_explanation
      %h2
        = pluralize(@menu.errors.count, "error")
        prohibited this menu from being saved:
      %ul
        - @menu.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    %br/
    = f.text_field :title, :class=>"form-control", :placeholder => "Title"
  .form-group
    = f.label :description
    %br/
    = f.text_area :description, :class=>"form-control", :placeholder => "Description"
  %h3 Items
  = f.fields_for :items do |i|
    .form-group
      = i.label :name
      %br/
      = i.text_field :name, :class=>"form-control", :placeholder => "Name"
    .form-group
      = i.label :price
      %br/
      = i.text_field :price, :class=>"form-control", :placeholder => "Price"
    .form-group
      = i.label :description
      %br/
      = i.text_area :description, :class=>"form-control", :placeholder => "Description"
    = i.link_to_remove "Remove this item", :class=>"btn btn-default"
  %p= f.link_to_add "Add an Item", :items, :class=>"btn btn-default"
  = f.hidden_field :restaurant_id, :value => params[:restaurant_id]
  .actions
    = f.submit 'Create Menu', :class=>"btn btn-default"