%p#notice= notice
%p
  %strong Title:
  = @menu.title
%p
  %strong Description:
  = @menu.description
- @menu.items.each do |i|
  = i.name
  = i.description
= link_to 'Edit', edit_menu_path(@menu)
|
\#{link_to 'Back', menus_path}