%p#notice= notice
%p
  %strong Title:
  = @menu.title
%p
  %br/
  %strong Description:
  = @menu.description
%br/ 
  
- @menu.items.each do |i|
  %strong= i.name
  %br/
  = i.description
  %br/
  %strong= i.price 
  %br/
= link_to 'Edit', edit_menu_path(@menu)
|
\#{link_to 'Back', menus_path}