/
  Carousel
  \==================================================
#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      = image_tag "https://farm3.staticflickr.com/2402/2407509566_d82c8cc536_o.jpg"
      .container
        .carousel-caption
          %p Build and Manage Menus With Ease
          %h5
            %a{:href => "https://secure.flickr.com/photos/joshua/", :target => "blank"} 
          %p
            %a.btn.btn-large.btn-primary{:href => "users/sign_up"} Sign up today
    .item
      = image_tag "https://farm4.staticflickr.com/3643/3492719750_aec3c68e0c_o.jpg"
      .container
        .carousel-caption
          %p Build and Manage Menus With Ease
          %h5
            %a{:href => "https://secure.flickr.com/photos/orangetaki/", :target => "blank"}
          %a.button.btn.btn-success{:href => "users/sign_up"} Sign Up
/ /.carousel
.page-header
  %h2 Plans
.row
  - @plans.each do |plan|
    .col-sm-4
      .list-group
        %a.list-group-item.active{:href => "#"}
          = plan.name
          \- #{number_to_currency(plan.price)} / Month
        %a.list-group-item{:href => "#"}
          = plan.restaurants
          Restaurant
        %a.list-group-item{:href => "#"}
          = plan.tables
          tables / Restaurant
        %a.list-group-item{:href => "#"}
          = plan.menu_items
          Menu Items / Restaurant
        %a.list-group-item{:href => "#"}
          = plan.storage
          GB storage
        = link_to new_user_registration_path(:plan_id => plan.id),  :class=>"list-group-item" do
          %button.btn.btn-success Sign Up
    / /.col-sm-4